<h1>Threads created by You:</h1>
{{# each user.posts}}
    <li>
        <form method="post" action="/posts/getPost">
            <input type="hidden" value="{{_id}}" name="getPost"/>
            {{title}},Views={{preview}}
            <button>View</button>
        </form>
    </li>
{{/each}}