<div class="container">
    {{# if success_msg}}
        <div class="alert-success">{{success_msg}}</div>
    {{/if}}
    <ul class="list-group">
        {{#each userlist}}
            <li class="list-group-item"><a href="/profile/{{username}}">{{username}}</a>
                {{#if ../user.isAdmin}}
                    <a class="btn btn-default" href="/profile/{{_id}}">Delete</a>
                    <a class="btn btn-default" href="">Make Admin</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>