
{{#if err}}
    {{#each err}}
        <div class="alert alert-danger register-container" style="text-align: center;margin: 0 auto">{{err_msg}}</div>
    {{/each}}
{{/if}}

{{#if message}}
    <div class="alert alert-danger register-container" style="text-align: center;margin: 0 auto"">{{message}}</div>
{{/if}}


<div class="loginmodal-container width-container">
    <form method="post" action="/users/addUser">
        <label>First Name</label>
        <input type="text" placeholder="First Name" name="firstname">


        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" name="lastname">


        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username">


        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email">
        <br>

        <label>Your current work status</label><br>
        <label class="radio-inline">
            <input type="radio" name="optradio">Working full-time
        </label><br>
        <label class="radio-inline">
            <input type="radio" name="optradio">Working part-time
        </label><br>
        <label class="radio-inline">
            <input type="radio" name="optradio">Between jobs / In transition
        </label><br>
        <label class="radio-inline">
            <input type="radio" name="optradio">Full-time student
        </label><br>
        <label class="radio-inline">
            <input type="radio" name="optradio">Retired
        </label><br>
        <br>

        <label>Select Company Name(Type if not listed)</label>
        <select class="form-control" id="company-list" onclick="companyName()">
            <option></option>
            <!--company list-->
        </select>
        Company:<input type="text" placeholder="Company Name" name="company">


        <label>Select School Name(Type if not listed)</label>
        <select class="form-control" id="university-list" onclick="univName()">
            <option></option>
            <!--school-list-->
        </select>
        School:<input type="text" placeholder="University Name" name="university">


        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">


        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password2">

        <input type="submit" name="register" class="login loginmodal-submit" value="Register">

</div>

</form>
