<form method="post" enctype="multipart/form-data" action="/profile/upload">
    <div class="form-group">
        Profile Photo:
        <input type="file" name="img_file" class="form-control">
        <br>
        <input type="submit" value="Submit">
        <br>
    </div>
</form>