<script src="/javascripts/company-call.js"></script>
<script src="/javascripts/university-call.js"></script>
<div id="loginModel">
    <div id="id02" class="modal">
        {{#if err}}
            {{#each err}}
                <div class="alert alert-danger">{{err_msg}}</div>
            {{/each}}
        {{/if}}

        {{#if message}}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}
        <form method="post" action="/users/addUser" class="modal-content animate">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            <div class="container">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" name="firstname" required>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="lastname" required>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                </div>
                <div class="form-group">
                    <label>Your current work status</label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="Working full-time">Working full-time
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="Working part-time">Working part-time
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="Between jobs / In transition">Between jobs / In
                        transition
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="Full-time student">Full-time student
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="Retired">Retired
                    </label>
                </div>
                <div class="form-group">
                    <label>Select Company Name(Type if not listed)</label>
                    <select class="form-control" id="company-list" name="companyPicker">
                        <option>Other</option>
                        <!--company list-->
                    </select>
                    Company:<input type="text" class="form-control" placeholder="Company Name" name="company">
                </div>
                <div class="form-group">
                    <label>Select School Name(Type if not listed)</label>
                    <select class="form-control" id="university-list" name="universityPicker">
                        <option>Other</option>
                        <!--school-list-->
                    </select>
                    School:<input type="text" class="form-control" placeholder="University Name" name="university">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password2" required>
                </div>
            </div>
            <div class="container" style="background-color:#f1f1f1">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>